<body>
    <table>
        <tr>
            <td colspan=2><b>Информация про клиента</b></td>
        </tr>
        <tr>
            <td>Название клиента</td>
            <td>[name_customer]</td>
        </tr>
        <tr>
            <td>Компания</td>
            <td>[company]</td>
        </tr>
        <tr>
            <td colspan=2><b>Информация про договор</b></td>
        </tr>
        <tr>
            <td>Номер договора</td>
            <td>[number]</td>
        </tr>
        <tr>
            <td>Дата подписания</td>
            <td>[date_sign]</td>
        </tr>
        <tr>
            <td colspan=2><b>Информация про сервисы</b></td>
        </tr>
        <tr>
            <td colspan=2>[services_name]</td>
        </tr>
    </table>
</body>